
@{
    ViewBag.Title = "Mac";
    Layout = "~/Views/Shared/_LayoutMac.cshtml";
}

<div>
    <div class="list-pro">
        <div class="box-pro">
            <div class="box-img">
                <a href="https://shopdunk.com/macbook-air-m1-2020" target="_blank"><img src="https://shopdunk.com/images/thumbs/0000723_macbook-air-m1-2020-8gb-ram-256gb-ssd_240.png" alt="mac_1" title="MacBook Air M1 2020 (8GB Ram | 256GB SSD)" class="fm-size-img" /></a>
            </div>
            <div class="box-des">
                <p><b>MacBook Air M1 2020 (8GB Ram | 256GB SSD)</b></p>
                <p class="font-char"><b>18.890.000₫</b></p>

            </div>
        </div>

        <div class="box-pro">
            <div class="box-img">
                <a href="https://shopdunk.com/iphone-15-plus" target="_blank"><img src="https://shopdunk.com/images/thumbs/0008043_macbook-pro-16-m1-pro-16-core16gb1tb_240.png" alt="mac_2" title="MacBook Pro 16 M1 Pro " class="fm-size-img" /></a>
            </div>
            <div class="box-des">
                <p><b>MacBook Pro 16 M1 Pro (16 Core/16GB/1TB)</b></p>
                <p class="font-char"><b>53.990.000₫</b></p>

            </div>
        </div>

        <div class="box-pro">
            <div class="box-img">
                <a href="https://shopdunk.com/macbook-pro-m2-2022" target="_blank"><img src="https://shopdunk.com/images/thumbs/0008682_macbook-pro-13-inch-m2-10-core-8gb-ram-256gb-ssd_240.png" alt="mac_3" title="MacBook Pro 13 inch M2 " class="fm-size-img" /></a>
            </div>
            <div class="box-des">
                <p><b>MacBook Pro 13 inch M2 (10 Core| 16GB RAM| 256GB SSD)</b></p>
                <p class="font-char"><b>26.690.000₫</b></p>

            </div>
        </div>



        <div class="box-pro">
            <div class="box-img">
                <a href="https://shopdunk.com/macbook-pro-16-m1-pro-16-core-gpu" target="_blank"><img src="https://shopdunk.com/images/thumbs/0000635_macbook-pro-16-m1-pro-16-core16gb512ssd_240.png" alt="mac_4" title="MacBook Pro 16 M1 Pro" class="fm-size-img" /></a>
            </div>
            <div class="box-des">
                <p><b>MacBook Pro 16 M1 Pro (16 Core/6GB/52SSD)</b></p>
                <p class="font-char"><b>46.990.000₫</b></p>

            </div>
        </div>
    </div>
    <div class="list-pro">
        <div class="box-pro">
            <div class="box-img">
                <a href="https://shopdunk.com/imac-m1-2021-24-inch-8gpu-8gb-512gb" target="_blank"><img src="https://shopdunk.com/images/thumbs/0000809_imac-m1-2021-24-inch-8-core-gpu8gb512gb_240.webp" alt="mac_5" title="iMac M 2021 24 inch " class="fm-size-img" /></a>
            </div>
            <div class="box-des">
                <p><b>iMac M 2021 24 inch (8 Core GPU/8GB/512GB)</b></p>
                <p class="font-char"><b>37.990.000₫</b></p>

            </div>
        </div>

        <div class="box-pro">
            <div class="box-img">
                <a href="https://shopdunk.com/macbook-air-m2-2022" target="_blank"><img src="https://shopdunk.com/images/thumbs/0008502_macbook-air-m2-2022-8gb-ram-256gb-ssd_240.png" alt="mac_6" title="MacBook Air M2 2022" class="fm-size-img" /></a>
            </div>
            <div class="box-des">
                <p><b>MacBook Air M2 2022 (8GB RAM | 256GB SSD)</b></p>
                <p class="font-char"><b>26.590.000₫</b></p>

            </div>
        </div>

        <div class="box-pro">
            <div class="box-img">
                <a href="https://shopdunk.com/imac-m1-2021-24-inch-8gpu-8gb-256gb" target="_blank"><img src="https://shopdunk.com/images/thumbs/0010530_imac-m1-2021-24-inch-8-core-gpu8gb256gb_240.webp" alt="mac_7" title="iMac M 2021 24 inch" class="fm-size-img" /></a>
            </div>
            <div class="box-des">
                <p><b>iMac M 2021 24 inch (8 Core GPU/8GB/256GB)</b></p>
                <p class="font-char"><b>32.990.000₫</b></p>
            </div>
        </div>

        <div class="box-pro">
            <div class="box-img">
                <a href="https://shopdunk.com/macbook-pro-14-m2-pro-16gb-512gb" target="_blank"> <img src="https://shopdunk.com/images/thumbs/0011267_macbook-pro-14-inch-m2-pro-16-core-16gb-512gb_240.jpeg" alt="mac_8" title="MacBook 14 inch M2 Pro" class="fm-size-img" /></a>
            </div>
            <div class="box-des">
                <p><b>MacBook 14 inch M2 Pro (16 Core| 16GB| 512GB)</b></p>
                <p class="font-char"><b>46.590.000₫</b></p>

            </div>
        </div>

    </div>
    <div class="list-pro">
        <div class="box-pro">
            <div class="box-img">
                <a href="https://shopdunk.com/macbook-pro-m2-2022" target="_blank"><img src="https://shopdunk.com/images/thumbs/0011783_macbook-pro-13-inch-m2-10-core-8gb-ram-512gb-ssd_240.png" alt="mac_9" title="MacBook Pro 13 inch M2" class="fm-size-img" /></a>
            </div>
            <div class="box-des">
                <p><b>MacBook Pro 13 inch M2(0 Core| 8GB RAM| 256GB SSD)</b></p>
                <p class="font-char"><b>26.690.000₫</b></p>

            </div>
        </div>

        <div class="box-pro">
            <div class="box-img">
                <a href="https://shopdunk.com/macbook-pro-16-inch-m2-pro-19-core-16gb-1tb" target="_blank"><img src="https://shopdunk.com/images/thumbs/0011408_macbook-pro-16-inch-m2-pro-19-core-16gb-512gb_240.jpeg" alt="mac_10" title="MacBook Pro 6 inch M2 Pro" class="fm-size-img" /></a>
            </div>
            <div class="box-des">
                <p><b>MacBook Pro 6 inch M2 Pro (19 Core| 16GB| 1TB)</b></p>
                <p class="font-char"><b>63.950.000₫</b></p>

            </div>
        </div>

        <div class="box-pro">
            <div class="box-img">
                <a href="https://shopdunk.com/macbook-air-15-inch-m2" target="_blank"><img src="https://admin.shopdunk.com/images/thumbs/0018138_macbook-air-15-inch-m2-8gb-ram-256gb-ssd_240.jpeg" alt="mac_11" title="MacBook Air 5 inch M2" class="fm-size-img" /></a>
            </div>
            <div class="box-des">
                <p><b>MacBook Air 5 inch M2(8GB RAM | 256GB SSD)</b></p>
                <p class="font-char"><b>30.890.000₫</b></p>

            </div>
        </div>

        <div class="box-pro">
            <div class="box-img">
                <a href="https://shopdunk.com/mac-studio-m1-ultra" target="_blank"><img src="https://shopdunk.com/images/thumbs/0000806_mac-studio-m1-ultra_240.png" alt="mac_12" title="Mac Studio M1 Ultra" class="fm-size-img" /></a>
            </div>
            <div class="box-des">
                <p><b>Mac Studio M1 Ultra</b></p>
                <p class="font-char"><b>99.000.000₫</b></p>

            </div>
        </div>
    </div>
    <div class="list-pro">
        <div class="box-pro">
            <div class="box-img">
                <a href="https://shopdunk.com/macbook-air-15-inch-m2-16gb-ram-256gb-ssd" target="_blank"><img src="https://admin.shopdunk.com/images/thumbs/0017987_macbook-air-15-inch-m2-16gb-ram-256gb-ssd_240.jpeg" alt="mac_13" title="MacBook Air 15 inch M2 " class="fm-size-img" /></a>
            </div>
            <div class="box-des">
                <p><b>MacBook Air 15 inch M2 (16GB RAM | 256GB SSD)</b></p>
                <p class="font-char"><b>16.390.000₫</b></p>

            </div>
        </div>

        <div class="box-pro">
            <div class="box-img">
                <a href="https://shopdunk.com/mac-pro-m2-ultra" target="_blank"><img src="https://admin.shopdunk.com/images/thumbs/0018106_mac-pro-m2-ultra_240.jpeg" alt="mac_14" title="Mac Pro M2 Ultra" class="fm-size-img" /></a>
            </div>
            <div class="box-des">
                <p><b>Mac Pro M2 Ultra</b></p>
                <p class="font-char"><b>199.000.000₫</b></p>

            </div>
        </div>

        <div class="box-pro">
            <div class="box-img">
                <a href="https://shopdunk.com/imac-2020-27-mxwt2-3-1-6c-8gb-256gb-rp5300x-soa" target="_blank"><img src="https://shopdunk.com/images/thumbs/0000833_imac-2020-27-mxwt2-31-6c8gb-256gbrp5300x-soa_240.png" alt="mac_15" title="iMac 2020'' MXWT2" class="fm-size-img" /></a>
            </div>
            <div class="box-des">
                <p><b>iMac 2020'' MXWT2</b></p>
                <p class="font-char"><b>34.750.000₫</b></p>

            </div>
        </div>



        <div class="box-pro">
            <div class="box-img">
                <a href="https://shopdunk.com/mac-mini-m2-10-core-gpu-24gb-ram-512gb-ssd-cto" target="_blank"><img src="https://shopdunk.com/images/thumbs/0011564_mac-mini-m2-10-core-gpu-8gb-ram-256gb-ssd_240.jpeg" alt="Mac mini M2" title="iPhone 12 128GB" class="fm-size-img" /></a>
            </div>
            <div class="box-des">
                <p><b>Mac mini M2</b></p>
                <p class="font-char"><b>30.950.000₫</b></p>

            </div>
        </div>
    </div>
    <div class="list-pro">
        <div class="box-pro">
            <div class="box-img">
                <a href="https://shopdunk.com/macbook-pro-14-inch-m2-pro-16-core-32gb-512gb-cto" target="_blank"><img src="https://shopdunk.com/images/thumbs/0011368_macbook-pro-14-inch-m2-max-30-core-64gb-1tb-cto_240.jpeg" alt="iphone13" title="MacBook Pro 14 inch M2 Pro" class="fm-size-img" /></a>
            </div>
            <div class="box-des">
                <p><b>MacBook Pro 14 inch M2 Pro</b></p>
                <p class="font-char"><b>59.990.000₫</b></p>

            </div>
        </div>

        <div class="box-pro">
            <div class="box-img">
                <a href="https://shopdunk.com/imac-2020-21-5-mhk23-3-6qc-8gb-256gb-rp555x-soa" target="_blank"><img src="https://shopdunk.com/images/thumbs/0000728_studio-display_240.png" alt="iphonese" title="iMac 2020 21.5'' MHK23" class="fm-size-img" /></a>
            </div>
            <div class="box-des">
                <p><b>iMac 2020 21.5'' MHK23</b></p>
                <p class="font-char"><b>24.990.000₫</b></p>

            </div>
        </div>

        <div class="box-pro">
            <div class="box-img">
                <a href="https://shopdunk.com/macbook-pro-16-inch-m2-pro-19-core-32gb-512gb-cto" target="_blank"><img src="https://shopdunk.com/images/thumbs/0011783_macbook-pro-13-inch-m2-10-core-8gb-ram-512gb-ssd_240.png" alt="iphone12" title="MacBook Pro 16 inch M2 Pro<" class="fm-size-img" /></a>
            </div>
            <div class="box-des">
                <p><b>MacBook Pro 16 inch M2 Pro</b></p>
                <p class="font-char"><b>73.750.000₫</b></p>

            </div>
        </div>



        <div class="box-pro">
            <div class="box-img">
                <a href="https://shopdunk.com/iphone-12-128gb" target="_blank"><img src="https://shopdunk.com/images/thumbs/0010612_mac-studio-m1-max_240.webp" alt="iphone12_128" title="Mac Studio M2 Max" class="fm-size-img" /></a>
            </div>
            <div class="box-des">
                <p><b>Mac Studio M2 Max</b></p>
                <p class="font-char"><b>55.990.000₫</b></p>

            </div>
        </div>
    </div>

    <div class="page-number">
        <ul>
            <li class="page-1">
                <span>1</span>
            </li>
        </ul>
    </div>
    <div class="ss-sp">
        <div class="des-ss-sp">
            <div>
                <a href="https://shopdunk.com/so-sanh-mac"> <img src="https://shopdunk.com/images/uploaded/trang%20danh%20muc/mac/Image-Standard-4.png" class="fm-size-img" /></a>
            </div>
            <div class="des-content-ss">
                <h3>Tìm Mac phù hợp với bạn</h3>
                <a class="link" href="https://shopdunk.com/so-sanh-mac">So sánh các Mac ></a>
            </div>
        </div>

        <div class="des-ss-sp">
            <div>
                <a href="https://shopdunk.com/phu-kien"><img src="https://shopdunk.com/images/uploaded/trang%20danh%20muc/mac/Image-Standard-5.png" class="fm-size-img" /></a>
            </div>
            <div class="des-content-ss">
                <h3>Phụ kiện Mac thường mua kèm</h3>
                <a class="link" href="https://shopdunk.com/phu-kien">Tìm phụ kiện ></a>
            </div>
        </div>
    </div>



    <div class="notepad">
        <h2>Giới thiệu về Apple Mac</h2>
        <p>Apple Mac là dòng máy tính của thương hiệu Apple Inc. phổ biến trên toàn thế giới và được đông đảo người dùng yêu thích. Tính đến thời điểm hiện tại, Apple mang đến cho người dùng 5 dòng sản phẩm về Mac, đó là: MacBook, iMac, Mac mini, Mac Pro, Mac Studio và Displays. Đây đều là những sản phẩm vô cùng nổi tiếng trên thị trường và mang đến cho người dùng những trải nghiệm vô cùng tuyệt vời.</p>
        <p></p>
        <h2>Giới thiệu về MacBook</h2>
        <p><a class="link" href="#">MacBook </a>là dòng máy tính xách tay của Apple Inc. sản xuất và phát triển. Đặc trưng của dòng này là thiết kế sang trọng cùng trải nghiệm mượt mà, mà nó đem lại nhờ chạy hệ điều hành macOS – hệ điều hành do chính Apple phát triển.</p>
        <p>MacBook có 2 dòng sản phẩm chính là MacBook Air và MacBook Pro. Ngoài ra, Apple còn phát triển thêm dòng MacBook M1 sử dụng con chip Apple Silicon M1 do chính Apple sản xuất (trước đó họ sử dụng chip Intel hoặc AMD – một bên thứ 3 cung cấp chipset CPU).</p>
        <p></p>
        <p><b>Tại sao nên mua MacBook?</b></p>
        
        <ul>
            <li>Dễ làm quen. Mạnh mẽ đáng kinh ngạc. Và được thiết kế để giúp bạn làm việc, vui chơi và sáng tạo theo những cách mà bạn chưa bao giờ tưởng tượng đến. </li>
            <li>Thiết kế mỏng nhẹ và sang trọng. Đây chính là điều mà MacBook được nhiều người lựa chọn.</li>
            <li>Thiết lập dễ dàng: Nếu bạn chuyển đổi từ máy tính PC hoặc máy Mac cũ hơn, bạn có thể nhanh chóng chuyển các mục cài đặt, tài khoản người dùng và những dữ liệu khác bằng Trợ lý di chuyển chỉ với một vài bước đơn giản. Máy Mac cài sẵn một bộ ứng dụng năng suất làm việc và sáng tạo, chẳng hạn như Pages, Numbers, Keynote, iMovie và GarageBand, để bạn có thể bắt đầu làm việc ngay.</li>
            <li>Dễ sử dụng: Vuốt lên bằng ba hoặc bốn ngón tay để truy cập Mission Control và xem tất cả cửa sổ đang mở trong một tầng cửa sổ duy nhất, giúp họ dễ dàng tìm ra cửa sổ mình cần. Bạn có thể sử dụng Siri để hoàn thành công việc. Chỉ cần nói “Hey Siri” để thực hiện những tác vụ như phát nhạc, gọi điện thoại hoặc đặt lời nhắc trên máy Mac.</li>
            <li>Đáp ứng tốt năng suất công việc: Với chip Apple M1, máy Mac giúp bạn thực hiện tác vụ nhanh hơn bao giờ hết. Bên cạnh các ứng dụng cài sẵn, App Store còn có hàng nghìn ứng dụng khác để làm việc, chơi game, học tập và chỉnh sửa. </li>
            <li>Thời lượng pin sử dụng cả ngày dài.</li>
            <li>Trải nghiệm mượt mà và không bị giật lag sau nhiều năm sử dụng (tối ưu tốt nhờ hệ điều hành macOS)</li>
            <li>Trackpad lớn và thông minh, tốt hơn rất nhiều so với các Laptop khác. </li>
            <li>Bảo vệ sự riêng tư cho bạn: Apple silicon và macOS Monterey cho máy Mac khả năng bảo mật tiên tiến nhất so với bất kỳ máy tính cá nhân nào.</li>
        </ul>

        <h2>Giới thiệu về iMac</h2>
        <p>iMac là một nhóm máy tính để bàn Macintosh được thiết kế và xây dựng bởi Apple Inc. Đây là sản phẩm chính trong các sản phẩm máy tính để bàn của người tiêu dùng Apple kể từ khi ra mắt vào tháng 8 năm 1998 và đã phát triển qua bảy mẫu riêng biệt. </p>
        <p>iMac đã nhận được sự hoan nghênh quan trọng đáng kể, bao gồm cả lời khen ngợi từ chuyên gia công nghệ Walt Mossberg là “Tiêu chuẩn vàng của máy tính để bàn”; Tạp chí Forbes mô tả dòng máy tính iMac màu kẹo ban đầu là một “thành công thay đổi ngành công nghiệp”</p>
        <p>Sau hơn 20 năm cho ra mắt, iMac ngày càng được nâng cấp và tối ưu đế mỏng, nhẹ và tích hợp nhiều thứ hơn. Nếu như phiên bản năm 1998 được trang bị màn hình CRT với kích thước 14 inch thì cho đến hiện tại, kích thước iMac phiên bản 2021 có kích thước lên đến 24 inch với độ phân giải tối đa 5K cùng sự mạnh mẽ nhờ được tích hợp chip Apple M1.</p>
        <p><b>Tại sao nên mua iMac?</b></p>
        <ul>
            <li>Những tính năng nổi bật tuyệt vời và mang lại lợi ích bất ngờ, giúp công việc của bạn trở nên tối giản hơn bao giờ hết.</li>
            <li>Thiết kế rực rỡ, màu sắc tuyệt đẹp: Hầu như các phiên bản trước đều có duy nhất một màu bạc, nhưng đến nay, phiên bản iMac M1 có sẵn các sắc màu làm bừng sáng góc làm việc của bạn như xanh lá, hồng, xanh dương và bạc, vàng, cam, tím.</li>
            <li>Màn hình sống động với các kích cỡ: 21.5 inch, 24 inch, 27 inch có lớp phủ phản chiếu thấp hàng đầu trong ngành mang lại sự thoải mái và dễ đọc hơn.</li>
            <li>Hiệu suất mạnh mẽ với chip Apple M1, công nghệ tuỳ chỉnh, mọi thứ đều linh hoạt và nhanh nhạy, thích hợp với người dùng yêu thích thiết kế, dựng phim hay chỉnh sửa chuyên nghiệp.</li>
            <li>Camera, loa và micro tốt nhất: Cho bạn hình ảnh tuyệt vời khi thực hiện các cuộc gọi video trong bất kỳ điều kiện ánh sáng nào với camera FaceTime HD 1080p, chuỗi micro chất lượng phòng thu lọc tiếng ồn xung quanh và tập trung vào giọng nói của bạn để âm thanh cuộc gọi rõ ràng nhất và ghi âm giọng nói chất lượng cao, như podcast và bản ghi âm.</li>
            <li>Hệ thống âm thanh sáu loa cung cấp âm trầm mạnh mẽ, rõ ràng, âm trung và cao rõ ràng, và một sân khấu âm thanh sống động.</li>
        </ul>
        <p></p>
        <p></p>
        <h2>ShopDunk cung cấp những dòng Mac nào?</h2>
        <p>ShopDunk là một trong những thương hiệu bán lẻ được Apple uỷ quyền tại Việt Nam, đáp ứng được các yêu cầu khắt khe từ Apple như: dịch vụ kinh doanh, dịch vụ chăm sóc khách hàng, vị trí đặt cửa hàng,…</p>
        <p>Những chiếc máy tính Mac do Apple Việt Nam phân phối tại nước ta đều mang mã SA/A và được bảo hành 12 tháng theo theo tiêu chuẩn tại các trung tâm bảo hành Apple. Mã SA/A là mã thị trường Singapore và dành cho một số nước Đông Nam Á, trong đó có Việt Nam. Các dòng máy tính Mac được cung cấp tại ShopDunk gồm: MacBook Air M1 2020, MacBook Pro M1 2020, MacBook Air M2 2022, MacBook Pro M2 2022, MacBook Pro 14/16 inch, iMac 2020, iMac 2021 M1 24 inch, Mac mini M1, Mac Studio và Studio Display.</p>
        <ul>
            <li><b>MacBook Air M2 2022</b>: Được thiết kế mới hoàn toàn quay quanh chip Apple M2, MacBook Air mang đến hiệu suất cũng như khả năng được cải thiện và thời lượng pin bền bỉ cả ngày với thiết kế không quạt, không ồn. Hãy tận hưởng màn hình Liquid Retina 13,6 inch tuyệt đẹp, camera FaceTime HD 1080p, cổng MagSafe 3 để sạc, hệ thống âm thanh bốn loa siêu chân thực, Magic Keyboard với Touch ID và bốn lựa chọn màu tuyệt đẹp. Thiết bị này mỏng hơn, nhẹ hơn và nhanh hơn, đồng thời bao gồm mọi tính năng bạn muốn trong MacBook Air.</li>
            <li><b>MacBook Pro M2 2022</b>: Nâng cấp chủ yếu tới từ con chip M2 với hiệu năng cải thiện khoảng 40% so với thế hệ tiền nhiệm. Có hai màu là bạc và xám không gian. Máy tính xách tay này dày 1.56 cm và nặng 1.3kg và có kiểu dáng giống hệt model MacBook Pro 13 inch M1 trước đó.</li>
            <li><b>MacBook Air M1 2020</b>: Máy tính xách tay phổ biến nhất của Apple được trang bị chip Apple M1 mang lại hiệu suất mang tính đột phá và thời lượng pin lên đến 18 giờ – thời lượng pin dài nhất từ trước đến nay của MacBook Air. Có thiết kế không quạt tản nhiệt yên tĩnh, chất lượng hình ảnh của camera FaceTime HD được cải thiện, hiệu suất SSD nhanh hơn và Wi-Fi 6. Nhờ màn hình Retina 13 inch tuyệt đẹp, Magic Keyboard, Touch ID và bàn di chuột Force Touch, MacBook Air là chiếc máy tính xách tay mỏng và nhẹ có thể thực hiện được tất cả các công việc hàng ngày.</li>
            <li><b>MacBook Pro M1 2020</b>: Được hỗ trợ mạnh mẽ từ dòng chip M-series của Apple, dòng sản phẩm MacBook Pro định nghĩa lại máy tính xách tay cho chuyên gia. Kiểu máy 13 inch có màn hình Retina rực rỡ, hiệu suất đáng kinh ngạc và thời lượng pin cả ngày nhờ chip Apple M1.</li>
            <li><b>MacBook Pro 14/16 inch</b>: Kiểu máy 14 inch và 16 inch trang bị M1 Pro và M1 Max cung cấp hiệu năng ấn tượng, thời lượng pin vượt trội, cổng hiệu năng cao, màn hình Liquid Retina XDR diện tích lớn và tuyệt đẹp. Ngoài ra, mọi kiểu máy đều mang lại trải nghiệm âm thanh tuyệt vời với các tính năng như Âm thanh không gian. Không có dòng sản phẩm máy tính xách tay nào khác cung cấp hiệu năng, khả năng và thời lượng pin tương tự.</li>
            <li><b>iMac 24 inch M1</b>: iMac 24 inch là chiếc iMac cá nhân, mạnh mẽ, nhiều tính năng và thú vị nhất từ trước đến nay. Máy có thiết kế mỏng tuyệt đẹp với bảy màu sắc rực rỡ, màn hình Retina 4,5K sống động cùng camera, micrô và loa tốt nhất từ trước đến nay trên máy Mac, đưa trải nghiệm tất cả trong một lên một tầm cao mới. Nhờ tính năng Thông suốt, máy hoạt động liền mạch với iPhone và mọi sản phẩm của Apple. Và với sức mạnh của chip Apple M1 và macOS, iMac đủ linh hoạt để biến phòng khách thành lớp học, nhà bếp thành phòng hội nghị, hoặc phòng ngủ thành rạp hát.</li>
            <li><b>Mac mini M1</b>: Mac mini là máy tính để bàn mạnh mẽ và linh hoạt. Khách hàng sẽ thích hiệu suất mạnh mẽ và kích thước cực kỳ nhỏ gọn của máy – cho dù họ đang dùng Mac mini làm máy tính để bàn hay chạy mọi tác vụ, từ máy chủ tệp tại nhà đến hệ thống cân bằng kết xuất (render farm) khổng lồ. Mac mini trang bị chip Apple M1 mang đến một bước nhảy vọt về hiệu suất, bộ nhớ hợp nhất siêu nhanh lên đến 16GB, ổ cứng SSD lên đến 2TB và các tùy chọn kết nối mới bao gồm hai cổng Thunderbolt/USB 4 và Wi-Fi 6. Mac mini chạy Intel có bộ vi xử lý 6 nhân cho hiệu suất nhanh và bộ nhớ lên đến 64GB. Mac mini mang đến trải nghiệm máy tính để bàn của Mac, được nâng lên một tầm cao mới với chip M1.</li>
            <li><b>Mac Studio</b>: Mac Studio mang lại hiệu suất đáng kinh ngạc, khả năng kết nối rộng và các khả năng hoàn toàn mới trong một hệ thống nhỏ gọn có thể đặt ngay trên bàn làm việc. Được trang bị chip M1 Max hoặc M1 Ultra do Apple thiết kế, Mac Studio là lựa chọn tuyệt vời cho người tiêu dùng hoặc chuyên gia cao cấp muốn sở hữu sức mạnh tính toán lớn nhất.</li>
            <li><b>Studio Display</b>: Studio Display là đối tác hoàn hảo cho máy Mac của bạn. Màn hình Retina 5K 27 inch lớn mang đến nhiều không gian cho việc thiết kế, sáng tác, lập trình và đa nhiệm. Và với camera tiên tiến cùng công nghệ Trung tâm màn hình, micrô chất lượng phòng thu và hệ thống âm thanh sáu loa, đây là màn hình tối tân nhất cho các cuộc gọi video. </li>
        </ul>

        <p>Màn hình có thể kết nối với máy Mac chỉ bằng một sợi cáp và mang lại liền mạch trải nghiệm tích hợp mà người dùng Mac đều yêu thích. Với những tính năng tuyệt vời này, đây chính là màn hình để bàn cần thiết cho đa dạng khách hàng, từ sinh viên cho đến nhà sáng tạo hay chuyên gia.</p>
        <h2>Mua máy tính Mac giá tốt nhất tại ShopDunk</h2>
        <p>ShopDunk là đại lý uỷ quyền Apple tại Việt Nam với hệ thống 40 cửa hàng trên toàn quốc, trong đó có 11 Mono Store. Đến nay, ShopDunk đã trở thành điểm dừng chân lý tưởng cho iFans nói chung và thế hệ GenZ nói riêng bởi độ chuẩn và chất. Không gian thiết kế và bài trí sản phẩm theo tiêu chuẩn của Apple, chia theo từng khu vực rõ ràng, bàn trải nghiệm rộng rãi và đầy đủ sản phẩm.</p>
        <p>Tại ShopDunk luôn có mức giá tốt nhất cho người dùng cùng với nhiều chương trình hấp dẫn diễn ra liên tục trong tháng. Hãy đến với chúng tôi và trải nghiệm ngay những mẫu Mac mới nhất với đội ngũ chuyên viên tư vấn được đào tạo bài bản từ Apple, sẵn sàng hỗ trợ bạn về sản phẩm, kỹ thuật hay các công nghệ mới nhất từ Apple.</p>
    </div> 
</div>
 